.container,.inner{
    width: 200px;
    height: 200px;
}

.container{
    border: 1px solid steelblue;
    background-color: aquamarine;
}

.inner{
    border: 1px solid rgb(18, 49, 75);
    background-color: rgb(31, 101, 27);
    /* transform: scale(.25,.5); */
    transform: rotate(45deg);
}