.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: repeat(2,200px) 300px; */
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

}

.grid-item{
    height: 30px;
    background-color: gold;
    border: 1px solid tomato;
}